<!DOCTYPE html>
<html>
<head>
    <title>Eclipse classification project</title>

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="application.js"></script>

    <link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>
    <h1>Eclipse classification project</h1>
    <div class="repository">
        <h2 class="name"></h2>
        <p class="description"></p>
    </div>
    <p class="instructions">
        <strong>Control with your keyboard:</strong><br>
        <strong>J</strong> - This repository is about Eclipse <br>
        <strong>K</strong> - I don't know <br>
        <strong>L</strong> - This repository is <em>not</em> about Eclipse
    </p>
</body>
</html>